[Unit]
Description=Run hourly timer for GCP UDMI Explorer

[Service]
Type=simple
ExecStart=/home/john/udmi-discovery.sh

[Install]
WantedBy=multi-user.target

