[Unit]
Description=Execute every hour, on the hour

[Timer]
OnCalendar=*:00/15
Unit=udmi-discovery.service
Persistent=true

[Install]
WantedBy=multi-user.target
